@use "../abstract/variable" as var;
@use "../abstract/mixin";

#items {
    @include mixin.flex;
    height: 60vh;
}

.items_grid_container {
    width: 60%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    column-gap: 2rem;

    a:hover {
        color: blue;
        text-decoration: underline;
    }

    .item_card {
        @include mixin.flex (row, center, flex-start);
        width: 100%;
        margin-top: 5rem;
        gap: 2rem;

        .img_abs {
            width: 20%;
            height: 100%;

            img {
                width: 5rem;
                height: auto;
                object-fit: cover;

            } 
        }

        .item_content {
            @include mixin.flex(column, center, flex-start);
            width: 60%;
            gap: .7rem;
        }
    }
}



